body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: beige;
}

#sidebar {
    width: 30%;
    height: 100vh;
    text-align: center;
    background-color: lightskyblue;
}

main {
    width: 70%;
    max-width: 1200px;
    max-height: 90vh;
    overflow-y: auto;
}

#users-container {
    width: 100%;
}

#users-container > div {
    padding: 5px;
    margin-top: 5px;
    border-bottom: 1px solid blue;
}

#message-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#message-container > div {
    width: 90%;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

#message-container > div:nth-child(2n) {
    padding: 5px;
    background-color: rgb(203, 251, 210);
}

#send-container {
    position: fixed;
    right: 30px;
    bottom: 30px;
    max-width: 1100px;
    width: 60%;
    display: flex;
}

#message-input {
    flex-grow: 1;
}